{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
    <div class = "max-w-lg mx-auto">
        <div class = "py-5 border-b border-gray-200">
            <a href = "{% url 'agents:agent-list' %}" class = "hover:text-blue-500 mt-3"> Go back to agents </a>
        </div>
        <h1 class = "text-4xl text-gray-800 mt-5"> Create a new lead </h1>
        <form method = "post" class = "mt-8">
            {% csrf_token %} <!-- Django requires a csrf_token to make a post request with the data --> 
            {{ form|crispy }}
            <button type = "submit" class = "w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md"> Submit </button>
        </form>
    </div>
{% endblock content %}